*~
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.o

.depend
Goalfile
Makefile
config.log

/aclocal.m4
/autom4te.cache/
/configure
/config.h
/config.h.in
/config.status
/install-sh
/parsing/goals
/parsing/lexer.ml
/parsing/parser.conflicts
/parsing/parser.ml
/parsing/parser.mli
/parsing/stamp-parser
/stamp-h
