*~
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.log
*.o

/man/*.?

.depend
Goalfile
Makefile

/aclocal.m4
/autom4te.cache/
/configure
/config.h
/config.h.in
/config.log
/config.status
/install-sh
/run
/src/config.ml
/src/goals
/src/lexer.ml
/src/parser.conflicts
/src/parser.ml
/src/parser.mli
/src/stamp-parser
/stamp-h
