*~
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.log
*.o

/*.tar.gz

.depend
Goalfile
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache/
/compile
/configure
/config.h
/config.h.in
/config.log
/config.status
/goals.spec
/goals-*.src.rpm
/install-sh
/local*
/man/*.?
/man/*.?.txt
/missing
/run
/src/config.ml
/src/goals
/src/lexer.ml
/src/parser.conflicts
/src/parser.ml
/src/parser.mli
/src/stamp-parser
/stamp-h
/stamp-h1
